<h2>Edit <%= resource_name.to_s.humanize %></h2>
<div class= "container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
     <div class="form-row">
      <div class="form-group col-md-4 col-md-offset-4">
         <%= f.label :last_name , "姓" %>
         <%= f.text_field :last_name %>
      </div>
      <div class="form-group col-md-4 col-md-offset-4">
         <%= f.label :first_name, "名" %>
         <%= f.text_field :first_name %>
      </div>
     </div>
     <div class="form-row">
       <div class="col-md-4 col-md-offset-4">
         <%= f.label :last_name_kana, "姓(カナ)" %>
         <%= f.text_field :last_name_kana %>
       </div>
        <div class="col-md-4 col-md-offset-4">
        <%= f.label :first_name_kana, "名(カナ)" %> 
        <%= f.text_field :first_name_kana%>
       </div>
     </div>
       <div class="col-md-4 col-md-offset-4">
          <%= f.label :current_password, "パスワード" %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
       </div>
       <div class="col-md-4 col-md-offset-4">
        <%= f.label :password, "新しいパスワード:" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, class:"password" %>
      </div>
     <div class="row">
       <div class="col-md-4 col-md-offset-4">
         <%= f.label :adress, "住所" %> 
         <%= f.text_field :adress%>
       </div>
     </div>
     <div class="col-md-4 col-md-offset-4">
       <div class="col-lg-6">
         <%= f.label :post_code, "郵便番号" %> 
         <%= f.text_field :post_code%>
         </div>
      </div>
      <div class="row">
       <div class="col-md-4 col-md-offset-4">
         <%= f.label :phone_number, "電話番号" %> 
         <%= f.text_field :phone_number%>
       </div>
      </div>
      <div class="row">
      <div class="col-md-4 col-md-offset-4">
         <%= f.label :user_name, "ユーザー名" %> 
         <%= f.text_field :user_name%>
       </div>
      </div>
      
   <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :email %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
      </div>
   </div>
   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
     <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
   <% end %>
  
</div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= f.submit "Update" %>
    </div>
  </div>
<% end %>
</div>
</div>
